<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav class="not-homepage-nav">
      <div class="logo">
        <a href="/">logo</a>
      </div>
      <div class="links">
        <a href="/inventory/items">Items</a>
        <a href="/inventory/categories">Categories</a>
        <a href="/inventory/account">Account</a>
      </div>
    </nav>
    <main class="not-homepage-main">
      <h1><%= title %></h1>
      <div class="cat-item-container">
        <% categories.forEach(category => { %>
          <div class="cat-item">
            <img src=<%= category.image %> alt="category image" class="cat-item-image">
            <h2><%= category.name %> </h2>
          </div>
        <% }); %>
      </div>
    </main>
  </body>
</html>