<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body id="index-body">
    <nav>
      <div class="logo index-a">
        <a href="/">logo</a>
      </div>
      <div class="links index-a">
        <a href="/inventory/items">Items</a>
        <a href="/inventory/categories">Categories</a>
        <a href="/inventory/account">Account</a>
      </div>
    </nav>
    <main class="index-main">
      <h1>Welcome to your inventory web</h1>
      <p>Here you will be able to order all the items in your store, and keep track of your money.</p>
    </main>
  </body>
</html>
