<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav class="not-homepage-nav">
      <div class="logo">
        <a href="/">logo</a>
      </div>
      <div class="links">
        <a href="/inventory/items">Items</a>
        <a href="/inventory/categories">Categories</a>
        <a href="/inventory/account">Account</a>
      </div>
    </nav>
    <main class="not-homepage-main">
      <h1><%= title %></h1>
      <div class="cat-img-container">
        <% items.forEach(item => { %>
        <li><%= item.name %></li>
        <% }); %>
      </div>
    </main>
  </body>
</html>
