html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

a {
  color: white;
  text-decoration: none;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  display: flex;
  justify-content: space-between;

  padding: 20px;

  font-size: 1.2em;
}

.links a {
  padding-left: 20px;
  padding-right: 20px;
}

main {
  padding: 0 20px 20px 20px;
}

/*

########################################################

  INDEX STYLIING

########################################################

*/

#index-body {
  /*Photo by Finn Hackshaw on Unplash https://unsplash.com/photos/FQgI8AD-BSg*/
  background-image: url('../images/finn-hackshaw-FQgI8AD-BSg-unsplash.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;

  color: white;
}

.index-a a{
  color: white;
}

.index-main {
  padding-top: 100px;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.index-main h1 {
  font-size: 2.2em;
  text-decoration: underline;
  background-color: black;
  border-radius: 5px;
  padding: 5px;
}

.index-main p {
  font-size: 1.2em;
  background-color: black;
  border-radius: 5px;
  padding: 5px;
}

/*

########################################################

  ITEMS STYLING

########################################################

*/

.not-homepage-nav {
  background-color: #333;
  color: white;
}

.not-homepage-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

.cat-item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3em;
}

.cat-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cat-item-image {
  width: 200px;
  height: 200px;
}

.cat-item a {
  color: black;
  text-decoration: none;
}

/*

########################################################

  CATEGORY STYLING

########################################################

*/

/*

########################################################

  ACCOUNT STYLIING

########################################################

*/